<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="all">

    <!-- Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Legacy Storage (Required for Android 9 and below) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Modern Granular Storage (Required for Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MC.S1"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".ui.profile.ProfileEditActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.BookViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.BookDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.BookEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.book.BookAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.BooksCategoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.settings.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.book.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.book.MyBooksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.FollowingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.FollowersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.publisher.ExplorePublishersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.book.MoreBooksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".utils.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />

    </application>

</manifest>
